{% extends 'post_list.html' %}

{% block content %}



<div class="container-fluid" style="background: black;">
		<div class="container" style="color: white;">
		</br>
			<h1>About Us</h1>
			<p style="color: grey;">
				<a href="/" style="color: white">Home</a> | About us</br>	
			</p>
		</div>

</div>


<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron" style="text-align: justify;">
				<h1>About us</h1>
				<p>SA Pavers and Tilers is a subdivision of the Intellect Africa Group (IAG), a group that provides software development and civil engineering services across the African Continent. IAG and its subsidiaries, divisions and subdivisions are based in Johannesburg, South Africa. The subdivision’s main focus is to provide paving and tiling solutions to residential, commercial and industrial properties. Also, we are not merely transforming land and properties, but we believe in the realization of our clients’ dreams in quality properties and value appreciation.</p>

				<p>We understand that a property’s appearance is an integral part to its marketability and full realisation of its value, whether to a homeowner or a property developer; therefore, we create designs and patterns that perfectly match our clients’ needs. In addition, tenants and property buyers prefer tiled floors over traditional carpeted floors, and it is critical for property owners to remain competitive given the current challenges in the industry by realising changes in customer needs. </p>

				<p>We commit to providing services of high quality at affordable rates. It is within our philosophy that we pursue opportunities in the local and regional markets, both independently and in association with strategic partners.</p>

				<p>The subdivision prides itself in ensuring that clients receive the highest quality output possible, delivered at the right price, using the right material and at the right time. Allied to best practice application, this ensures that we are able to deliver a finished product of high standard at cost-effective rates. </p>

				</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="jumbotron" style="background-image: url(/static/img/cf.jpg); background-size: cover; height: 440px">
			</br></br></br></br></br></br>
			</div>
			<div class="jumbotron">
				<h1>Our Values</h1>
				<i>Six principles of success:</i>
				<li>Accountability</li>
				<li>Honest</li>
				<li>Integrity</li>
				<li>Innovative</li>
				<li>Reliability</li>
				<li>Transparent</li>

			</div>						
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron">
				<h1>Our Vision</h1>
				<p>To be the highest value installer of pavers and tiles across the globe.</p>

				<h1>Mission</h1>
				<p>To provide our clients with the highest level of quality paving and tiling services at fair and competitive prices, and ultimately guaranteeing our clients top of the range services.</p>
			</div>
		</div>
		<div class="col-md-6">

		</div>

	</div>
</div>





{% endblock %}
