{% extends 'post_list.html' %}

{% block content %}



<div class="container-fluid" style="background: black;">
		<div class="container" style="color: white;">
		</br>
			<h1>About Us</h1>
			<p style="color: grey;">
				<a href="/" style="color: #FF4500">Home</a> | About us</br>	
			</p>
		</div>

</div>


<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron">
				<h1>Our Story</h1>
				<p>SA Pavers and Tilers is a newly formed division within the Dehwa Africa Group (Pty) Ltd formed in 2018 with the main aim of providing high quality paving and tiling services to its valued clients.

				We have selected the finest pavers and tiles manufacturers to cut down on costs and meet your budgets whilst maximising durability of your investment.

				Specializing in Domestic, Commercial and Industrial paving and tiling, with a team of dedicated pavers and tilers, we guarantee our clients high quality services at an affordable cost.

				Let’s turn your environment into a memorable place!
				</p>
			</div>
		</div>

		<div class="col-md-6" style="background-image: url(/static/img/Pavements.jpg); background-size: cover; height: 440px">
			</br></br></br></br></br></br>						
		</div>
	</div>
</div>


<div class="container-fluid text-center" style="background-image: url(/static/img/timage.jpg); background-size: cover; background-repeat: no-repeat;">
		</br></br></br></br>
		<h1 style="" font-weight: bolder;">The Best <span style="color: #FF4500">Paving and Tiling</span> Solutions</h1>
		<div class="row justify-content-center">
  		<div class="col-md-3 col-md-offset-3">
  			<p><marquee  behavior="slide" direction="left"><hr style="border-width: 5px; border-top: 2px solid #FF4500"; ></marquee>
  			</p></div>
  		</div>
		<h5 style="text-align: center;">We are dedicated to provide services to our value clients.</h5>
		<h5 style="text-align: center;">Solutionists</h5>
	    <a href="/">
	     <button type="button" class="btn btn-md" style="color: white; background-color: #FF4500">Contact now
	     </button> 
	 	</a>
	    </br></br></br></br>
	   
</div>
<br></br>

{% endblock %}
