{% extends 'post_list.html' %}

{% block content %}

<div class="container-fluid" style="background: black;">
    <div class="container" style="color: white;">
    </br>
      <h1>Blog</h1>
      <p style="color: grey;">
        <a href="/" style="color: white;">Home</a> | Blog</br> 
      </p>
    </div>

</div>

<div>
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
</div>









{% endblock %}