        <nav class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed btn btn-primary" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-navicon"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img alt="Brand" style=" width: 100px; height: 80px" src="/static/img/paverlogo.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-left">
              <ul class="nav navbar-nav navbar-right" style="padding-top: 20px; color: black; font-size: 20px; font-weight: bold;">
                <li class="active"><a href="#" style="color: orange !important;">Home</a></li>
                <li><a href="#about" style="color: orange!important;">About</a></li>
                <li><a href="#contact" style="color: black;">Services</a></li>
                <li><a href="#contact" style="color: black;">Contact</a></li>
                <li><a href="#contact" style="color: black;">Blog</a></li>
              </ul>
            </div>
          </div>
        </nav>