{% extends 'post_list.html' %}

{% load crispy_forms_tags %}

{% block content %}



	<div class="jumbotron" style="text-align: center; background-image: url(/static/img/dp.jpg); background-size: cover; background-repeat: no-repeat; min-height: 100%;">

		  <h1 style="color: white">Choose Best Services Of:</h1>

		  	<marquee  behavior="alternative" direction="up" style="text-align: center; color: #003366; font-weight: bolder; position: relative;">
		  			<ul><h1>Tiling</h1></ul>
		  			<ul><h1>Pavering</h1></ul>
		  	</marquee>
	  
		  <p style="color: white">beyond paving and tiling</p>

		  <p>
		  	<a class="btn btn-lg" href="service" role="button" style="color: #003366; background-color: white">Get Services</a>&nbsp&nbsp&nbsp<a class="btn btn-lg" href="contact" role="button" style="color: white; background-color: #003366; ">Contact now</a>
		  </p>
	</div>

	<div>
		<h1 style="text-align: center; font-family: 'Arial-Narrow';">Our Services</h1>
		<hr>
	</div>






 <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
           <img src="/static/img/Pavements.jpg" alt="photo" class="img-thumbnail" style="height: 362px"/>
            <div class="card-body">

             <div style="text-align: center;">
              <ul><h6>Pavement installation Services</h6></ul>
              <ul><h6>Commercial and Industrial paving</h6></ul>
              <ul><h6>Patios and pool surroundings</h6></ul>
              <ul><h6>Repair and maintenance</h6></ul>
              <ul><h6>Pavements cleaning</h6></ul>
              <ul><h6>Drive ways</h6></ul>
              <ul><h6>Walk ways</h6></ul>
  			  <ul>
                <div class="btn-group">
                	<a href="blog">
                  <button type="button" class="btn btn-md btn-outline-secondary" style="background-color: #003366; color: white;">Read more
                  </button></a>
                </div>
              </ul>
            </div>
              
            </div>
          </div>
        </div>



        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
            <img src="/static/img/Tiling.jpg" alt="photo" class="img-thumbnail" style="height: 362px"/>
            <div class="card-body">
            <div style="text-align: center;">
              <ul><h6>Tiles Installation Services</h6></ul>
              <ul><h6>Repair and maintenance</h6></ul>
              <ul><h6>Bathroom renovations</h6></ul>
              <ul><h6>Tiles cleaning</h6></ul>
              <ul><h6>Floor tilling</h6></ul>
              <ul><h6>Wall tilling</h6></ul>
              <ul><br></ul>
			  <ul>
                <div class="btn-group">
                	<a href="blog">
                  <button type="button" class="btn btn-md btn-outline-secondary" style="background-color: #003366; color: white;">Read more
                  </button></a>
                </div>
              </ul>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




<div class="jumbotron" style="height: 80px; background-image: linear-gradient(90deg, black 50%, #003366 50%);">
	<div class="row">
		<div class="col-md-6">
			<h5 style="color: white;">Why choose us?</h5>
		</div>

  		<div class="col-md-6">
	  		<ul style="color: white;">
	  			<h5>Book for a free quote:</h5>
	  		</ul>
  		</div>	
	</div>
</div>



<div class="row">
	<div class="col-md-6">
		<div class="jumbotron" style="background-image: url(/static/img/timage.jpg); background-size: cover; background-repeat: no-repeat; min-height: 100%; margin-left: 5px; margin-right: 5px; text-align: justify;">
			<p>
				<h5>Quality Assurance</h5>

We have a team of qualified and experience installer who takes pride of the work they do.

<h5>Guarantee</h5>

For all our workmanship, we issue a 12 months satisfaction guarantee.

<h5>Competitive pricing</h5>

We charge competitive prices without compromising on the quality of our work. Through the selection of the right suppliers, we have the room to negotiate for discounts that will ultimately reduce the overall cost of your project.

<h5>Safety first</h5>

We respect the safety for our clients, we do criminal checks on all our employees and we choose the best and ethical employees into our workforce.

<h5>Supplier</h5>

We choose the best suppliers, who have tiles and pavers that meet the quality assurance standards of SA Pavers and Tilers and that of the assurance bodies in Mzansi.

 

<h5>Our values</h5>

> Accountability <br>

> Honest</br>
> Integrity </br>
> Innovative <br>
> Reliability <br>
> Transparent <br>

		</div>
	</div>
	<div class="col-md-6">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red;">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST" class="post-form">{% csrf_token %}
      {{ form|crispy }}
<button type="submit" class="save btn btn-primary"> Submit </button>
</form>		

	</div>
</div>













{% endblock %}