{% load staticfiles %}
{% load crispy_forms_tags %}

<footer>

<div class="jumbotron" style="background-color: black;">
  <div class="row">
	  <div class="col-xs-6 col-sm-3">
	  	<h2 style="color: white;">NEWSLETTER:</h2>

<form method="POST" class="post-form" style="color: white">{% csrf_token %}
      {{ sub_form|crispy }}
<button type="submit" class="save btn btn-primary" style="background-color: #003366; color: white;"> Submit </button>
</form>				  	
	  </div>
	  <div class="col-xs-6 col-sm-3">
	  	<h2 style="color: white;">OFFICE TIME</h2>
	  	<h5 style="color: white;">Mon-Fri: 8.00am – 5.00pm<h5>



	  </div>
	  <div class="col-xs-6 col-sm-3" style="color: white;">
	  	<h2 style="color: white;">QUICK LINKS</h2>
	  	
	  		<ul><a href="/" style="color: white;">Home</a></ul>
	  		<ul><a href="about" style="color: white;">About</a></ul>
	  		<ul><a href="service" style="color: white;">Services</a></ul>
	  		<ul><a href="contact" style="color: white;">Contacts</a></ul>
	  		<ul><a href="blog" style="color: white;">Blog</a></ul>
	  	
	  </div>
	  <div class="col-xs-6 col-sm-3" style="color: white;">
	  	<h2 style="color: white;">CONTACT US: </h2>
	  	
	  		<ul><i class="fa fa-phone">&nbsp +27 11 083 7784</i></ul>
	  		<ul><i>&nbsp +27 81 530 4931</i></ul>
	  		<ul><i class="fa fa-envelope-o text-orange">&nbsp info@sapaverstilers.co.za</i></ul>
	  		<ul><i class="fa fa-map-marker">&nbsp Intellect Africa Group(Pvt) Ltd<br>
	  		College House, 26 Peter Place road,<br> Bryanston, Johannesburg,<br> 2060, South Africa</i></ul>

	  	
	  </div>
</div>
</div>


	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-4"><a href="index.html"  style=" font-family: arial,helvetica,sans-serif; font-size: 12px; color: rgb(72, 61, 139);">Designed and Developed by: <a href="https://twitter.com/RMaravanyika">IAG software developers</a> <p>All Rights Reserved</p>
			</div>

			<div class="col-xs-6 col-sm-4">
			
			</div>
			
				<div class="col-xs-6 col-sm-4 text-center">
			<p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12px;"><em><span style="color: #ff0000;">Proudly a subdivision of the Intellect Africa Group (Pty) Ltd </span></em></span></p>
				</div>

		</div>
	</div>
</footer>
</body>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>