{% extends 'post_list.html' %}

{% block content %}

<div class="container-fluid" style="background: black;">
    <div class="container" style="color: white;">
    </br>
      <h1>Services</h1>
      <p style="color: grey;">
        <a href="/" style="color: #FF4500">Home</a> | Services</br> 
      </p>
    </div>

</div>





<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container">
    <div class="row text-center" style="height: 80px; background-image: linear-gradient(90deg, grey 66%, red 33%);">
      <div class="col-xs-12 col-md-8">
        <h1 style="color: white">Services We Offer</h1>
      </div>
      <div class="col-xs-6 col-md-4">
        <h4 style="color: white">Book a free installation quote
            Available in JHB & PTA</h4>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-6 col-md-4" style="background-color: grey">
          <div class="card mb-6 shadow-sm">
            <div class="img-hover-zoom">
            <img src="/static/img/Tiling.jpg" alt="photo" class="img-thumbnail" style="height: 362px"/>
            </div>
            <div class="card-body">
             <div style="text-align: justify;">
              <ul><h6 style="font-weight: bolder;">Tiles Installation Services</h6></ul>
              <p>
                Our tiling division has a team of experienced and dedicated tilers who can make that perfect finish you will admire in your house, shopping mall, residential estate amongst others.
              </p>

              <p>
                We provide a full tiling service which includes but is not limited the following:
              </p>
              <li><h6>Floor and wall tiling in ceramic, porcelain, natural stone, mosaic</h6></li>
              <li><h6>Bullnosing and mitreing of tiles</h6></li>
              <li><h6>Inlays and patterns</h6></li>
              <li><h6>Removal of old tiles</h6></li>
              <li><h6>Surface preparation</h6></li>
              <li><h6>Waterproofing of shower walls & floors</h6></li>
              <li><h6>Cleaning, re-grouting and sealing of tiles</h6></li>
            </div>
            </div>
          </div>
      </div>

      <div class="col-xs-6 col-md-4">
          <div class="card mb-6 shadow-sm" style="text-shadow: green">
           <div class="img-hover-zoom">
           <img src="/static/img/Pavements.jpg" alt="photo" class="img-thumbnail" style="height: 362px"/>
           </div>
            <div class="card-body">
            <div style="text-align: justify;">
              <ul><h6 style="font-weight: bolder;">Pavements Installation Services</h6></ul>
              <p>
              SA Pavers and Tilers offers a comprehensive range of paving solutions for residential, commercial and industrial projects. Our team of designers and installers have extensive experience of delivering professional services to valued clients.
            </p>
              <ul><h6>Our paving services ranges from:</h6></ul>
              <li><h6>Car parks and driveways;</h6></li>
              <li><h6>Walkways and sidewalks;</h6></li>
              <li><h6>Patios;</h6></li>
              <li><h6>Cleaning services and general maintenance</h6></li>
              <ul><br></ul>
              <ul><br></ul>
              <ul><br></ul>
              <ul><br></ul>

             </div>

              
            </div>
          </div>        
      </div>


      <div class="col-xs-6 col-md-4" style="background-color: grey">
        <div>
          <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" id="inputEmail3" placeholder="First name (Required)">
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="Surname" class="form-control" id="inputPassword3" placeholder="Surname (Required)">
                </div>
              </div>

              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email (Required)">
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="Cell number" class="form-control" id="inputPassword3" placeholder="Cell number">
                </div>
              </div>

              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="address" class="form-control" id="inputEmail3" placeholder="Home address">
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="username" class="form-control" id="inputPassword3" placeholder="Service required (Required)">
                </div>
              </div>

              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" id="inputEmail3" placeholder="Additional Information">
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" id="inputPassword3" placeholder="where do you know us from?">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary" style="background-color: #FF4500;">Submit</button>
                </div>
              </div>
          </form>
        </div>        
      </div>
    </div>
</div>

</br>
</br>


<div class="container">
    <div class="jumbotron" style="background-image: url(/static/img/timage.jpg);background-size: cover; background-repeat: no-repeat;">
      <h4>Other benefits</h4>
      <p>
        Our high-quality pavements look great and are also installed to withstand the heavy wear and tear of cars, trucks, and more. Installed to provide a lifetime of performance and timeless good looks in any climate, paving stone pavements are the perfect way to improve the exterior of your home, office park, estate or shopping mall while gaining the maximum return on your resurfaced investment.
      </p>

      <p>
        Getting supplies from South Africa’s finest manufacturers combined with our dedicated employees, you can rest assured that you get your money’s worth.
      </p>

      <p>
        Whether you plan to sell your property or keep it for generations, a pavement surface installed by SA Pavers and Tilers will provide quality and long lasting results that will quickly become the envy of your neighbours.
      </p>

    </div>
</div>




{% endblock %}