{% extends 'post_list.html' %}

{% block content %}

<div class="container-fluid" style="background: black;">
    <div class="container" style="color: white;">
    </br>
      <h1>Services</h1>
      <p style="color: grey;">
        <a href="/" style="color: white;">Home</a> | Services</br> 
      </p>
    </div>

</div>





<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container">
    <div class="row text-center" style="height: 80px; background-image: linear-gradient(90deg, grey 66%, #003366 33%);">
      <div class="col-xs-12 col-md-8"></br>
        <h1 style="color: white">Services We Offer</h1>
      </div>
      <div class="col-xs-6 col-md-4">
        <h4 style="color: white"><br>Book a free installation quote
        </h4>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-6 col-md-4" style="background-color: grey">
          <div class="card mb-6 shadow-sm">
            <div class="img-hover-zoom">
            <img src="/static/img/Tiling.jpg" alt="photo" class="img-thumbnail" style="height: 362px"/>
            </div>
            <div class="card-body">
             <div style="text-align: justify;">
              <h4 style="font-weight: bolder; color: #003366;">Tiling Solutions</h4>
              <p>
                There comes a time in every home owner’s life when they need to update the design and comfort of their property. One of the best ways of achieving that is through the use of tiles. Durable, easily cleaned and maintained, tiles have the ability to completely transform your space. 
              </p>

              <p>
                SA Pavers and Tilers’ experienced professionals can help with any job, ranging from fixing a few loose ones to retiling a whole bathroom. We can accurately perform every step of any tiling project, from measuring the space and advising on the number of necessary tiles through disposing of your old ones.
              </p>

              <p>
                We provide a range of services to residential, commercial and industrial projects at competitive rates, such as: 
              </p>

              <h6><li>Wall and floor tiling</li></h6>
              <h6><li>Underfloor heating</li></h6>
              <h6><li>Wet room installation</li></h6>
              <h6><li>Kitchens tilling</li></h6>
              <h6><li>External tiling</li></h6>
              <h6><li>Kitchen and bathroom renovations</li></h6>
              <h6><li>Swimming pool.</li></h6>
              <h6><li>Removal of existing tiles</li></h6>
              <h6><li>Surface preparation</li></h6>
              <h6><li>Tiles cleaning services</li></h6>
              <p>We pay close attention to the quality of work and to all the details involved. Rest assured we will respect your property as much as you do and your tiling project will look impeccable for years to come.</p>

            </div>
            </div>
          </div>
      </div>

      <div class="col-xs-6 col-md-4">
          <div class="card mb-6 shadow-sm" style="text-shadow: green">
           <div class="img-hover-zoom">
           <img src="/static/img/Pavements.jpg" alt="photo" class="img-thumbnail" style="height: 362px"/>
           </div>
            <div class="card-body">
            <div style="text-align: justify;">
              <h4 style="font-weight: bolder; color: #003366;">Paving Solutions</h4>
              <p>
              SA Pavers and Tilers subdivision also installs pavements on residential, commercial and industrial properties. Whether you want a modern contemporary or traditional look, our in house design team, will take your initial idea and turn it in to reality.
            </p>
            <p>
            SA Pavers and Tilers pride itself on customer satisfaction and the ability to create our customers dreams, whilst falling within their budget.
          </p>
            <p>
              All our work is carried out using leading brand manufacturers in South Africa
            </p>

             <p>Our paving solutions ranges from the following:<p>
              <h6><li>Land excavation </li></h6>
              <h6><li>Removal of existing pavements</li></h6>
              <h6><li>Car parks and driveways</li></h6>
             <h6> <li>Walkways and sidewalks</li></h6>
             <h6> <li>Patios</li></h6>
             <h6> <li>Cleaning services and general maintenance</li></h6>

             <p>We pay particular attention to the uses of the pavement; whether used by heavy vehicles or light vehicles etcetera, to ensure a prolonged life span of your investment.</p>

             <p>If you are looking for excellent service in the paving domain, SA Pavers and Tilers will provide it. Contact us now, and we will schedule a meeting at a time that best suits you. We work around the clock to keep our clients happy.</p>
<br><br>

             </div>

              
            </div>
          </div>        
      </div>


      <div class="col-xs-6 col-md-4" style="background-color: grey">
        <div>
          <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" id="inputEmail3" placeholder="First name (Required)">
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="Surname" class="form-control" id="inputPassword3" placeholder="Surname (Required)">
                </div>
              </div>

              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email (Required)">
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="Cell number" class="form-control" id="inputPassword3" placeholder="Cell number">
                </div>
              </div>

              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="address" class="form-control" id="inputEmail3" placeholder="Home address">
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="username" class="form-control" id="inputPassword3" placeholder="Service required (Required)">
                </div>
              </div>

              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" id="inputEmail3" placeholder="Additional Information">
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" id="inputPassword3" placeholder="where do you know us from?">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary" style="background-color: #003366;">Submit</button>
                </div>
              </div>
          </form>
        </div> 
<br><br>

        <div class="jumbotron" style="background-image: url(/static/img/timage.jpg);background-size: cover; background-repeat: no-repeat;">
      <h4>Other benefits</h4>
      <p>
        - All our workmanships carries a quality guarantee.
      </p>
      <br>
      <p>- Our team is made up of professional and experienced pavers and tilers.</p><br>
      <p>- We have a very close relationship with our partners and suppliers across South Africa, which further improves our service delivery to our clients and meeting deadlines.</p><br>
      <p>- Our pavements have a prolonged lifespan as they are installed to withstand the heavy wear and tear of cars, trucks, and more.</p>
    


       
      </div>

    </div>


    </div>
</div>

</br>
</br>


<div class="container">
    
</div>




{% endblock %}